<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <title>Singup</title>
</head>
<body>
    
        <div class="section">
            <div class="forCenter">

                <div class="container">
                    <form action="/signup.html" method="POST">
                        <div class="row justify-content-center">
                            <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">
                                        
                                <div class="card shadow p-5">
                                    
                                    <!-- Heading -->
                            <h2 class="text-center sgn-head-font">Create an Account</h2>
                            <p>Already have an Account? <a href="index.html"> Sign in here</a></p>
                            <p class="text-center">OR</p>
                            <!-- Other options -->
                            <a href="#"  class="btn btn-my text-center mb-3"  >
                                <img src="../static/img-etc/google-icon.svg " alt="Google Icon"> Sign in with Google
                            </a>
                            <!-- Details -->
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" placeholder="First Name" id="fName" name="first">
                                <label for="fName" class="form-label">First Name</label>
                            </div>
                            
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" placeholder="Last Name" id="lName" name="last">
                                <label for="lName" class="form-label">Last Name</label>
                            </div>
                            
                            <div class="form-floating mb-2">
                                <input type="email" class="form-control" placeholder="Email Address" id="mail" name="email">
                                <label for="mail" class="form-label">Email Address</label>
                            </div>
                            
                            <div class="form-floating mb-2">
                                <input type="password" class="form-control" placeholder="Password" id="passwd" name="password">
                                <label for="passwd  " class="form-label">Password</label>
                            </div>
                            
                            <p class="passwd-note text-center">Use 8 or more characters with a mix of number, letter & symbols</p>
                            <div class="form-floating mb-2">
                                <input type="password" class="form-control" placeholder="Password" id="Cpasswd" name="conf">
                                <label for="Cpasswd  " class="form-label">Confirm Password</label>
                            </div>
                            <!-- Terms and conditions -->
                            <form class="form-check ">
                                <input type="checkbox" class="form-check-input" id="chk" checked></input>
                                <p class="text-dark">I Agree <a href="#">Terms and conditions</a></p>
                            </form>
                            
                            <button class="btn btn-primary">Continue</button>
                            
                            
                            
                        </div>
                    </form> 
                        
                        
                        
                    </div>










                    </div>
                </div>
            </div>
        </div>

    </form>
    
</body>
</html>